#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <135>;
            bindings = <&kp M>, <&tog 1>;
        };
    };

    macros {
        sci: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp M &kp A &kp R &kp T &kp MINUS &kp T &kp E &kp K>;
            label = "NEW_MACRO";
        };

        sci2: sci2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp S &kp T &kp SPACE &kp M &kp E &kp S &kp S &kp A &kp G &kp E &kp SPACE &kp H &kp E &kp R &kp E &kp SPACE &kp O &kp R &kp SPACE &kp P &kp A &kp S &kp S &kp W &kp O &kp R &kp D>;
            label = "SCI2";
        };

        sci3: sci3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp S &kp T &kp SPACE &kp T &kp E &kp M &kp P &kp L &kp A &kp T &kp E &kp SPACE &kp H &kp E &kp R &kp E>;
            label = "SCI3";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default";
            bindings = <
&kp LC(C)     &kp LC(V)   &kp LC(Z)        &kp K_PREV          &kp K_PLAY_PAUSE     &kp K_NEXT
&kp C_VOL_DN  &kp C_MUTE  &kp C_VOLUME_UP  &kp LA(LEFT_ARROW)  &kp LA(RIGHT_ARROW)  &kp LA(TAB)
&sci          &sci2       &sci3            &kp LG(R)           &kp LG(E)            &mo 1
            >;
        };

        function_layer {
            display-name = "Function";
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &studio_unlock
&bootloader  &none   &none   &none   &none   &bootloader
&none        &none   &none   &none   &none   &none
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
